@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url(./img/background.jpeg);
    background-color: rgba(44, 11, 11, 0.592);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-blend-mode: darken;
    background-attachment: fixed;
    overflow-x: hidden;
}

.first-main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: 30px;
    color: white;
    border-bottom: rgb(110, 20, 13) solid 2px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.108) 100%);
}

.icon-side {
    font-size: 40px;
    color: white;
    margin: 10px;
    position: absolute;
    right: 0;
    top: -5px;
}

.first-header-container {
    text-align: center;
}

.text-container {
    margin: 290px auto;
    text-align: center;
}


span {
    font-weight: bold;
}
.select-time{
    display: block;
    margin-top: 18px;
}
.read-more{
    font-weight: lighter;
    color: rgb(255, 234, 234);
    cursor: pointer;
}
.read-more::selection{
    background-color: rgba(255, 255, 255, 0);
}
.more-text{
    display: none;
    width: 740px;
    position: absolute;
    left: 350px;
}
.first-main-container h1 {
    font-size: 50px;
}

.date-content {
    display: flex;
    justify-content: space-between;
    width: 600px;
    text-align: center;
    position: absolute;
    top: 480px;
    left: 430px;
    border: solid transparent;
    padding: 10px;
}


.first-main-container .date-content .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(75, 15, 21);
}

.reserve-btn {
    width: 150px;
    height: 40px;
    font-size: 15px;
    color: white;
    background-color: rgb(75, 15, 21);
    border: solid transparent;
    border-radius: 5px;
    position: absolute;
    top: 680px;
    left: 650px;
}
.item:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

@media (min-width: 1365px) and (max-width: 1367px) {
    .item {
        position: relative;
        bottom: 5vh;
        margin: 0 auto;
        right: 3vw;
    }
    .text-container {
        margin: 0 auto;
        position: relative;
        top: 40vh;
    }
    .readmore1,.more-text {
        position: relative;
        bottom: 4vh;
    }
    .select-time {
        position: absolute;
       top: 55vh;
       width: 13vw;
       left: 43.5vw;
    }
    .reserve-btn {
        left: 608px;
        bottom: 60vh;
    }
}
@media (min-width: 1919px) and (max-width: 1920px) {
    .more-text {
        left: 30vw;
    }
    .item {
        position: relative;
        left: 11vw;
    }
    .select-time {
        position: absolute;
        width: 13vw;
       left: 45vw;
       bottom: 48.5vh;
    }
    .reserve-btn {
        left: 865px;
    }
}

@media (min-width:1469px) and (max-width:1471px) {
    .select-time {
        position: absolute;
        left: 43.5vw;
        bottom: 41vh;
    }
}